body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.header{
    width: 100%;
    box-shadow: 0px 2px 1px 0px rgb(200, 200, 200);
    height: 40px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wi-1190{
    width: 1190px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: start;
}

.user-id{
    background-color: rgb(0, 174, 255);
    border-radius: 100%;
    padding: 3px 5px;
    color: white;
    cursor: pointer;
}
.icon{
    font-size: 18px;
    margin: 5px 15px;
    cursor: pointer;
}
.search{
    width: 350px;
    height: 30px;
    margin: auto 0;
    background-color: rgb(210, 206, 206);
    border: none;
    direction: rtl;
    padding: 0 35px 0 0;
    margin-left: 400px;
    border-radius: 2px;
}
.search-icon{
    color: rgb(162, 160, 160);
    margin-left: -25px;
}
.img-head{
    margin-left: 75px;
    cursor: pointer;
}

.stories{
    width: 1190px;
    height: 150px;
    margin: 30px auto;
    box-shadow: 0px 0px 1px 1px rgb(195, 192, 192) ;
    border-radius: 5px;
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    align-items: center;
    overflow: auto;
    white-space: nowrap;
}
.stories figure img{
    border-radius: 100%;
    height: 100px;
    width: 100px;
    margin: 5px 10px 0 10px;
}
.stories figure{
    margin: 0;
    position: relative;
    display: inline-block;
}
.stories figure figcaption{
    text-align: center;
}
.my-story{
    border-radius: 100%;
    border: 3px solid rgb(225, 103, 133);
    height: 100px;
    width: 100px;
    margin: 0 10px;
    position: relative;
    cursor: pointer;
}
.my-story i{
    position: absolute;
    left: 35px;
    top: 35px;
    color: rgb(225, 103, 133);
}
.story-circle{
    border-radius: 100%;
    border: 3px solid rgb(225, 103, 133);
    height: 103px;
    width: 103px;
    position: absolute;
    right: 6.5px;
    top: 1px;
    cursor: pointer;
}

.left-content{
    height: auto;
    width: 25%;
}

.main-content{
    height: 1500px;
    width: 53%;
    margin: 0 23px;
}

.right-content{
    height: auto;
    width: 18%;
}

.left-sec1{
    background-color: orange;
    width: 100%;
    height: 100px;
}
.birth-today{
    display: flex;
    justify-content: end;
    flex-direction: row-reverse;
    padding: 20px;
    color: rgb(71, 70, 70);
}

.left-sec1 article span i{
    padding-left: 10px;
    cursor: text;
}
.birth-user{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row-reverse;
}
    .birth-user span:nth-child(1){
        width: 30px;
        height: 30px;
        border-radius: 100%;
        margin: 0 20px 0 10px;
        cursor: pointer;
    }
    .birth-user span:nth-child(1) img{
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }
    .birth-user span:nth-child(2){
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: rgb(216, 216, 45);
        margin-left: 10px;
        text-align: center;
        line-height: 30px;
        color: white;
        font-size: 18px;
        cursor: pointer;
    }
    .birth-user span:nth-child(3){
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: rgb(161, 63, 63);
        text-align: center;
        line-height: 30px;
        color: white;
        font-size: 18px;
        cursor: pointer;
    }

.left-sec2{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 170px;
    margin: 20px 0;
}
.maybe-know{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    height: auto;
}
    .maybe-know span:nth-child(1){
        margin: 0 0 5px 0;
        color: rgb(89, 167, 236);
        font-size: 15px;
        cursor: text;
    }
    .maybe-know span:nth-child(2){
        background-color: red;
        width: 14px;
        height: 14px;
        margin: 0 0 5px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .maybe-know span:nth-child(2) i{
        color: white;
        font-size: 13px;
    }
.left-sec2 .know{
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    margin: 10px 0 0 0;
}
.left-sec2 .know .know-img{
    width: 12%;
    height: auto;
}
.left-sec2 .know .know-img img{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    cursor: pointer;
}
.left-sec2 .know .know-detail{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: end;
    width: 88%;
}
    .left-sec2 .know .know-detail .know-name{
        display: flex;
        align-items: end;
        flex-direction: column-reverse;
        justify-content: center;
        margin-right: 10px;
        width: 70%;
    }
        .left-sec2 .know .know-detail .know-name .know-spn1{
            color: gray;
            font-size: 12px;
        }
        .left-sec2 .know .know-detail .know-name .know-spn2{
            color: rgb(65, 65, 65);
            font-size: 16px;
            text-align: right;
        }
    .left-sec2 .know .know-detail .know-spn3{
        width: 10%;
        color: gray;
        font-size: 13px;
        display: none;
    }
        .left-sec2 .know .know-detail .know-spn3 i{
            color: gray;
        }
    .left-sec2 .know .know-detail .know-spn4{
        font-size: 15px;
        color: rgb(0, 183, 255);
        width: 30%;
        margin-left: 10px;
        display: none;
    }

.left-sec3{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.left-sec3 .event-opt{
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
}
.left-sec3 .event-opt .event-spn1{
    margin: 0 5px 0px 10px;
    background-color: rgb(90, 89, 89);
    border-radius: 20px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    cursor: pointer;
}
.left-sec3 .event-opt .event-spn2 , .left-sec3 .event-opt .event-spn3{
    margin: 0 5px 0px 10px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(71, 71, 71);
    font-size: 15px;
    cursor: pointer;
}
.left-sec3 .event-opt .event-spn2:hover , .left-sec3 .event-opt .event-spn3:hover{
    background-color: rgb(215, 213, 213);
    border-radius: 20px;
}
.left-sec3 .event-search{
    width: 100%;
    margin-top: 10px;
}
.left-sec3 .event-search #event{
    width: 100%;
    height: 40px;
    direction: rtl;
    border-radius: 5px;
    box-shadow: none;
    border: gray 1px solid;
}
    
.left-sec4{
    width: 100%;
    height: auto;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.left-sec4 header{
    margin-bottom: 10px;
    color: rgb(86, 131, 213);
    font-size: 15px;
}
.left-sec4 .recent-img{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: end;
    width: 100%;
}
.left-sec4 .recent-img a img{
    width: 40px;
    height: 35px;
    border-radius: 100%;
}
.recent-spn{
    width: 35px;
    height: 30px;
    border-radius: 100%;
    font-size: 13px;
    text-align: center;
    color: gray;
}

.left-sec5{
    width: 100%;
    height: auto;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    border: 1px solid orange;
    border-radius: 5px;
}
.left-sec5 header{
    margin: 10px 20px;
    color: gray;
    font-size: 14px;
}
.left-sec5 ul{
    direction: rtl;
}
.left-sec5 ul li a{
    text-decoration: none;
    color: rgb(13, 125, 237);
}

.left-sec6{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.left-sec6 a img{
    width: 100%;
    height: 150px;
    border-radius: 10px;
}

.left-sec7{
    width: 100%;
    height: auto;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.left-sec7 header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid rgb(182, 4, 4);
}
.left-sec7 header a img{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.left-sec7 header span{
    font-size: 18px;
    width: 80%;
    direction: rtl;
}
.left-sec7 .suggest{
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
}
.left-sec7 .suggest a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-bottom: 10px;
    width: 90px;
    direction: rtl;
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 18px;
}
.left-sec7 .suggest a img{
    width: 90px;
    height: 50px;
}

.left-sec8{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.left-sec8 article{
    width: 100%;
    height: auto;
    border-bottom: 1px solid rgb(223, 222, 222);
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.left-sec8 header{
    margin-bottom: 10px;
    color: rgb(86, 131, 213);
    font-size: 15px;
    direction: rtl;
}
.left-sec8 header i{
    margin-left: 10px;
}
.left-sec8 .users-img{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: end;
    width: 100%;
}
.left-sec8 .users-img a img{
    width: 40px;
    height: 35px;
    border-radius: 100%;
}
.users-a{
    height: auto;
    width: 35px;
    border-radius: 100%;
    font-size: 32px;
    color: gray;
    text-decoration: none;
}
.users-a b{
    line-height: 45px;
    text-align: center;
}

.right-sec1{
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
}
.right-sec1 .opt-1{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    color: rgb(70, 69, 69);
    border-left: 3px solid black;
    font-size: 18px;
    cursor: pointer;
}
.right-sec1 .opt-1 i , .right-sec1 .opt-2 i{
    margin-left: 10px;
}
.right-sec1 .opt-2{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    font-size: 17px;
    color: gray;
    cursor: pointer;
}
.right-sec1 .opt-2:hover{
    color: rgb(70, 69, 69);
}

.right-sec2{
    width: 100%;
    height: 120px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    background-color: rgb(233, 232, 232);
    border-radius: 10px;
}
.right-sec2 .wallet{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
}
    .right-sec2 .wallet span:nth-child(1){
        direction: rtl;
        color: rgb(107, 107, 107);
        font-size: 15px;
        margin: 10px;
    }
    .right-sec2 .wallet span:nth-child(2){
        direction: rtl;
        color: rgb(74, 106, 180);
        font-size: 15px;
        margin: 0 15px;
    }
.right-sec2 .wallet-icons{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}
.right-sec2 .wallet-icons span{
    background-color: rgb(206, 205, 205);
    display: flex;
    padding: 10px;
    border-radius: 10px;
    color: gray;
    font-size: 18px;
}
.right-sec2 .wallet-icons span:hover{
    color: rgb(70, 69, 69);
    cursor: pointer;
}

.right-sec3{
    width: 100%;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
}
.right-sec3 header{
    margin: 0 0 20px 0;
    color: gray;
}
.right-sec3 .parts{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 10px 0;
}
.right-sec3 .parts .part1{
    color: gray;
    font-size: 17px;
    cursor: pointer;
}
.right-sec3 .parts .part1:hover{
    color: rgb(70, 69, 69);
}
.right-sec3 .parts .part1 i{
    margin-left: 10px;
}
.right-sec3 .parts .part2{
    color: rgb(15, 93, 229);
}

.right-sec4{
    width: 100%;
    height: 170px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    border-top: 1px solid rgb(217, 217, 217);
    border-bottom: 1px solid rgb(217, 217, 217);
}
.right-sec4 .score-num{
    width: 100%;
    height: 65px;
    margin-top: 20px;
    font-size: 17px;
}
.right-sec4 .im-in{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 15px 0;
    width: 100%;
    color: gray;
    cursor: pointer;
}
.right-sec4 .salavat{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    color: gray;
    cursor: pointer;
}
.right-sec4 .salavat i , .right-sec4 .im-in span i{
    margin-left: 10px;
}
.right-sec4 .salavat span:hover, .right-sec4 .im-in span:hover{
    color: rgb(70, 69, 69);
}

.right-sec5{
    width: 100%;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    border-bottom: 1px solid rgb(217, 217, 217);
}
.right-sec5 header{
    margin-bottom: 20px;
    color: rgb(179, 178, 178);
    font-size: 14px;
}
.right-sec5 .affairs1{
    color: rgb(241, 60, 60);
    font-size: 17px;
    margin-bottom: 20px;
    cursor: pointer;
}
.right-sec5 .affairs2{
    color: gray;
    font-size: 17px;
    margin-bottom: 20px;
    cursor: pointer;
}
.right-sec5 .affairs1 i , .right-sec5 .affairs2 i {
    margin-left: 10px;
}
.right-sec5 .affairs1 span:hover , .right-sec5 .affairs2 span:hover{
    color: rgb(70, 69, 69);
} 

.right-sec6 .advertising span{
    display: flex;
    justify-content: center;
    border-radius: 30px;
    background-color: rgb(154, 154, 154);
    color: white;
    width: 45px;
    height: auto;
    font-size: 12px;
    margin: -5px 10px;
}